h1 {
	font-size: 3em;
	padding-top: 80px;
	margin-bottom: 0;
	padding-bottom: 0;
}

#close_info, #near_info, #far_info {
	display: none;
	margin-top: -20px;
}

#close_map, #near_map, #far_map {
	margin-top: 10px;
	margin-bottom: 15px;
}

#location {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
}

#address {
	font-size: 14px;
	font-weight:  bold;
	padding: 3px;
	width: 375px;
}

.toggle_close, .toggle_near, .toggle_far {
	cursor: pointer;
}
