
<html>
<head>
    <title>the lunch-o-mizer! a random lunch suggestion, every day, at lunchtime</title>

    <%= csrf_meta_tag %>

</head>
<body>

<div class="container_12">

    <div class="grid_2">&nbsp;</div>

    <div class="grid_10">

        <p id="pad"></p>

        <%= yield %>

    </div>

</div>

<%= yield :scripts %>

</body>
</html>
