
<html>
<head>
    <title>the lunch-o-mizer! a random lunch suggestion, every day, at lunchtime</title>

    <%= csrf_meta_tag %>

</head>
<body>

<%= yield %>

<%= yield :scripts %>

<style type="text/css" media="screen">
    body { marginl-top: 10px; margin-left: 10px; }
</style>

</body>
</html>
