
<html>
<head>
    <title>the lunch-o-mizer! a random lunch suggestion, every day, at lunchtime</title>

    <%= render "/layouts/head" %>

</head>
<body>

<div class="grid_1">&nbsp;</div>
<div class="grid_16">

    <%= yield %>

</div>

</body>
</html>
