<html>
<head>
	<title>the midtown lunch-o-mizer!</title>
	
	<%= stylesheet_link_tag "blueprint/screen", :media => "screen, projection" %>
	<%= stylesheet_link_tag "lunch" %>
	
</head>
<body>

<%= yield %>

</body>
</html>